<%- include('./header.ejs') %>

    <!-- erreur ou success messages -->
    <%- include('../alert.ejs') %>

    <!-- main content pour les pages d'authentification -->
    <main>
        <%- body %>
    </main>

<%- include('./footer.ejs') %>
