<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= titre %>
    </title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Font Awesome pour les icônes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

    <script src="/js/chart.umd.js"></script> <!-- Chart.js -->
    <script src="/js/charts.js" defer></script>

    <!-- Configuration Tailwind -->
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'nutri-green': '#10B981',
                        'nutri-blue': '#0EA5E9',
                        'nutri-gray': '#6B7280',
                        'nutri-orange': '#f59e0b'
                    }
                }
            }
        }
    </script>
</head>

<body class="bg-gradient-to-br from-white to-blue-50 min-h-screen">